##### List comprehensions provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause. then zero or more for or if clauses. The expressions can be anything, meaning you can put in all kinds of objects in list

In [1]:
lst1=[]
def lst_square(lst):
    for i in lst:
         lst1.append(i*i)
    return lst1

In [2]:
lst_square([1,2,3,4,5,6,7,8,9])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
lst=[1,2,3,4,5,6,7,8,9]
[i*i for i in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
[i*i for i in lst if i%2==0]

[4, 16, 36, 64]

In [6]:
# this list comprehension avoids the defining the function and complecated codes

In [10]:
lk=[5,3,4,6,58,9,98]
even=[]
odd=[]
for x in lk:
    if x%2==0:
        even.append(x)
    else:
        odd.append(x)
print(even)
print(odd)

[4, 6, 58, 98]
[5, 3, 9]

In [13]:
lc=[x for x in lk if x%2==0]
lc_odd=[x for x in lk if x%2!=0]

In [14]:
lc

[4, 6, 58, 98]

In [15]:
lc_odd

[5, 3, 9]

In [19]:
fruits=['apple','kiwi','pear']
print(f"{fruits=}")

fruits=['apple', 'kiwi', 'pear']

In [21]:
first_letters=[x[0] for x in fruits]
print(f"{first_letters=}")

first_letters=['a', 'k', 'p']

In [23]:
short_name=[x for x in fruits if len(x)<5]
print(f"{short_name}")

['kiwi', 'pear']

# square the numbers in list

In [24]:
lst=[23,4,354,65,76,87]
squared=[x**2 for x in lst]
print(squared)

[529, 16, 125316, 4225, 5776, 7569]

# Converting the string to int by list comprehension

In [25]:
l=['23','54','67','98','99']
l2=[int(x) for x in l]

In [26]:
l2

[23, 54, 67, 98, 99]

In [30]:
print(type(l[0]))
print(type(l2[0]))

<class 'str'>
<class 'int'>

use list comprehension

In [37]:
numbers=[x*2 for x in range(1,21)]

In [38]:
numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [34]:
words=['apple','banana','grapes','kiwi']
uppercase=[word.upper() for word in words]
print(uppercase)

['APPLE', 'BANANA', 'GRAPES', 'KIWI']